# Expo
.expo/
.expo-shared/
dist/
web-build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.production

# OS
.DS_Store
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Netlify
.netlify/
.netlify.toml.local

# TypeScript
*.tsbuildinfo